{% extends 'base.html.twig' %}

{% block title %}Arcarus - Log in{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <form method="post">
                        <div class="is-narrow is-centered is-large">
                            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
                        </div>
                        <h1 class="title has-text-centered">Log in</h1>
                        {% if error %}
                            <div class="notification is-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="_username" placeholder="Email" value="{{ last_email }}" required {% if not error %}autofocus{% endif %}/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="password" name="_password" placeholder="Password" required {% if error %}autofocus{% endif %}/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">Enter</button>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <a href="{{ path('app_change_password_login') }}">¿Has olvidado tu contraseña?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
