{% extends 'layout.html.twig' %}
{% trans_default_domain 'home.es.yml' %}

{% block title %}Arcarus - Class Picture generator{% endblock %}

{% block content %}
            <div class="columns is-align-items-center head">
                <div class="column is-narrow">
                    <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
                </div>
                <div class="column">
                    <h1 class="title">{{ 'greeting' | trans({}, 'home') }}</h1>
                </div>
            </div>
{% endblock %}