{% extends 'layout.html.twig' %}

{% block title %}Arcarus - Class Picture generator{% endblock %}

{% block content %}
    <section class="section content">
        <div class="container">

            <h1 class="title">Welcome</h1>

        </div>
    </section>
{% endblock %}