{% extends 'layout.html.twig' %}

{% block title %}Arcarus - Class Picture generator{% endblock %}

{% block content %}
    <h1>¡Bienvenido/a a Arcarus!</h1>
    <main class="functions">
        {# para cuando el usuario es administrador, se verá tod0 #}
        <section class="userpicture">

        </section>
        <section class="classpicture">

        </section>
        {# professor #}
        <section>
            {#
                - listar clases que imparte con estudiantes incluidos
                - mostrar todos las orlas en las que aparece
            #}
        </section>
        {# tutor:
            -opciones de crear la orla de su clase
        #}
        {# admin:
            -gestion de usuarios (crear, modificar, eliminar)
        #}
        <section></section>
        <section></section>
        <section></section>
        <section></section>
    </main>
{% endblock %}

{#
    hay que crear algún centro? en plan, de forma general
    ¿que hay del año académico? ¿tengo que crearlo también? ---> preguntar a luisra
#}