.welcome {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.content {
  margin-left: 9em;
  padding: 1.25em 1.25em 1.25em 4em;
  height: 100%;

  @media screen and (max-width: 1023px) {
    margin-left: 0;
    padding-top: 3rem;
  }

 .head{
   border-bottom: 1px solid #2a1b8c;
   margin-bottom: .9em;
 }
}

.main-content{
  margin-left: 6em;
}

.container{
  margin-bottom: 2em;
}