.content {
  padding: 1.25em;
  height: 100%;
}

.head {
  border-bottom: 1px solid #2a1b8c;
  margin-bottom: 0.9em;
}

.container {
  margin-bottom: 2em;
  @media screen and (min-width: 1023px) {
    margin-left: 9em;
  }
}