.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20em;
  background-color: #14161A;
  padding: 1.25em;
  color: #fff;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 1;

  @media screen and (min-width: 1024px) {
    display: block;
    transform: translateX(0);
  }

  &.is-active {
    transform: translateX(0);
  }
}

.navbar-burger {
  display: none;

  @media screen and (max-width: 1023px) {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2;
  }

  svg {
    fill: #fff; /* Ajusta el color del icono aquí */
  }
}
