.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20em;
  background-color: #14161A;
  padding: 1.25em;
  color: #fff;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 1;

  @media screen and (min-width: 1024px) {
    display: block;
    transform: translateX(0);
  }

  &.is-active {
    transform: translateX(0);
  }
}

.navbar-burger {
  display: none;

  @media screen and (max-width: 1023px) {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    background: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}


.navbar-burger.is-active + .sidebar {
  display: block;
}


  svg {
    fill: #fafafa;
  }

