<footer class="footer">
    <div class="content has-text-centered">
        <strong>Arcarus</strong> by <a href="https://github.com/mmiralin">María Mira Galindo</a>. &copy; {{ "now"|date("Y") }} Arcarus. All rights reserved.
    </div>
</footer>
