{% extends 'base.html.twig' %}

{% block body %}
    <div class="columns is-variable is-multiline is-0 is-fullheight">
        <div class="column is-12-mobile is-3-tablet is-2-desktop sidebar" id="sidebarMenu">
            {% include 'menu.html.twig' %}
        </div>
        <div class="column is-12-mobile is-9-tablet is-10-desktop main-content">
            <a role="button" class="navbar-burger" data-target="sidebarMenu">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0"/><path d="M4 12l16 0"/><path d="M4 18l16 0"/></svg>
            </a>
            <section class="section content">
                <div class="container is-full is-fullheight">
                    {% block content %}
                    {% endblock content %}
                </div>
            </section>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}
