{% extends 'base.html.twig' %}

{% block body %}
    <div class="columns is-variable is-multiline is-0 is-fullheight">
        <div class="column is-12-mobile is-3-tablet is-2-desktop sidebar" id="sidebarMenu">
            {% include 'menu.html.twig' %}
        </div>
        <div class="column is-12-mobile is-9-tablet is-10-desktop main-content">
            <a role="button" class="navbar-burger" data-target="sidebarMenu">
                <i class="fas fa-bars"></i>
            </a>
            <section class="section content is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <div class="container is-flex-grow-1">
                    {% block content %}
                    {% endblock content %}
                </div>
            </section>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}
