{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'menu.html.twig' %}
        {% block content %}
        {% endblock content %}
    </div>
{% endblock %}