{% trans_default_domain 'menu' %}
<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="sidebarMenu">
    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8l16 0" /><path d="M4 16l16 0" /></svg>
</a>

<div class="sidebar" id="sidebarMenu">
    <aside class="menu">
        <p class="menu-label">General</p>
        <ul class="menu-list">
            <li class="menu-item"><a href="#">Dashboard</a></li>
        </ul>
        <p class="menu-label">Orlas</p>
        <ul class="menu-list">
            <li class="menu-item"><a href="#">Crear Orla</a></li>
            <li class="menu-item"><a href="#">Subir Fotos</a></li>
            <li class="menu-item"><a href="#">Editar Orla</a></li>
            <li class="menu-item"><a href="#">Exportar PDF</a></li>
            <li class="menu-item"><a href="#">Ver Orlas</a></li>
        </ul>
        <p class="menu-label">Administración</p>
        <ul class="menu-list">
            <li class="menu-item"><a href="#">Administrar Usuarios</a></li>
            <li class="menu-item"><a href="#">Configuración</a></li>
        </ul>
        <p class="menu-label">Ayuda</p>
        <ul class="menu-list">
            <li class="menu-item"><a href="#">Ayuda</a></li>
            <li class="menu-item"><a href="#">Cerrar Sesión</a></li>
        </ul>
    </aside>
</div>